* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #4bbbc3;
}

h1,h2 {
    font-family: Arial, Helvetica, sans-serif
}

/* styling targeting all the navbar text*/
.navbarBrandName,
.nav-link {
    color: #4bbbc3;
    font-size: 125%;
}

/*link changes from blue to a different blue shade and bold (if not bold already) when mouse hovers over it*/
a:hover {
    color: #54d2db;
    font-weight: bold;
}

/*link changes from blue to a very light gray and bold (if not bold already) when mouse clicks it*/
a:active {
    color: rgb(223, 229, 234);
    font-weight: bold;
}

.card-title, .cardSubTitle, .card-text {
    color: #4bbbc3
}


footer {
    text-align: center;
    background-color: black;
  }  
  
  /* The first element to apply the animation to */
#githubLogo {
    margin: 1%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#githubLogo:hover {
    animation-name: githubLogo;
    animation-duration: 1.5s;
}

/* The animation code to rotate the image in 90degree increments */
@keyframes githubLogo {
    0% {
        border-radius: 50%;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        border-radius: 50%;
    }
}