* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(211, 211, 211);
}


/*Styling and inserting of the jumbotron image
which needs to be the full width of the page*/
.jumbotron {
    background-image: url(/images/julieUnionBuildings.jpg);
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30vh;
}

/*h1 and p are styled before media queriers are included*/

.jumbotron h1 {
    color: #4bbbc3;
    text-align: center;
    padding-top: 7vh;
}

.jumbotron p {
    color: #4bbbc3;
    text-align: center;
}


/*The container is the entire jumbotron and its contents*/
.container-jumbo {
    padding-top: 7vh;
}

/*media queries needed for jumbotron picture in mobile views*/
@media only screen and (max-width: 360px) {
    .jumbotron {
        width: 100%;
    }

    .jumbotron h1 {
        font-size: 20px;
    }

    .jumbotron p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 381px) {
    .jumbotron {
        width: 100%;
        height: 30vh;
    }
}

@media only screen and (min-width: 480px) {
    .jumbotron {
        width: 100%;
        height: 40vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .jumbotron {
        width: 100%;
        height: 50vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .jumbotron {
        width: 100%;
        height: 60vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .jumbotron {
        width: 100%;
        height: 90vh;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .jumbotron {
        width: 100%;
        height: 90vh;
    }
}

/* styling targeting all the navbar text*/
.navbarBrandName,
.nav-link {
    color: #4bbbc3;
    font-size: 125%;
}

section>h2 {
    padding-top: 70px;
    color: #4bbbc3;
    text-align: center;
    padding-bottom: 20px;
}

/*link changes from blue to a different blue shade and bold (if not bold already) when mouse hovers over it*/
a:hover {
    color: #54d2db;
    font-weight: bold;
}

/*link changes from blue to a very light gray and bold (if not bold already) when mouse clicks it*/
a:active {
    color: rgb(223, 229, 234);
    font-weight: bold;
}

.card {
    border-width: 4px;
    border-color: lightgray;
}

.card-title{
    color: #4bbbc3;
}

.card-subtitle {
    color: lightgray;
}

.card-text {
    color: lightgray;
}


 .no-bullets {
    list-style-type: none;
    padding: 0;
} 

.list-group-item {
    color: lightgray;
} 

footer {
    text-align: center;
    background-color: black;
}

/*Animation of social media icon follows*/

/* The element to apply the animation to */
#githubLogo {
    margin: 1%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* The animation code when mouse clicks on the icon to zoom in and then out again*/
#githubLogo:hover {
    animation-name: githubLogo;
    animation-duration: 1s;
}

@keyframes githubLogo {
    50% {
        transform: scale(1.5);}
}

/* The animation code when mouse hovers over the icon to rotate the icon a full 360-degrees first clockwise and then anti-clockwise*/
#githubLogo:active {
    animation-name: githubLogo2;
    animation-duration: 3s;
}

@keyframes githubLogo2 {
    5% {
        transform: rotate(360deg);
    }
}
